.experience {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 100px;
  width: 100%;
  gap: 50px;

  @media (max-width: 550px) {
    padding: 100px 50px;
  }

  @media (max-width: 440px) {
    padding: 50px 20px;
  }
}

.experience section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience section h1 {
  font-size: 30px;
}

.experience section div {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;

  @media (max-width: 550px) {
    flex-wrap: wrap;
  }
}

.experience section div img {
  height: 80px;
  width: 80px;
  filter: grayscale(100%);
  transition: 0.5s;

  &:hover {
    filter: grayscale(0%);
    cursor: pointer;
  }

  &.selected {
    filter: grayscale(0%);
  }
}

.description-container {
  width: 400px;
  box-shadow: 0px 0px 5px 1px var(--primary);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: reveal 2s forwards;

  @media (max-width: 440px) {
    width: 100%;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.revealing {
  opacity: 0;
  animation: forwards revealing 2s;
  text-align: justify;
}

@keyframes revealing {

  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.commercial-experience {
  width: 50%;
  text-align: justify;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.highlighted {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--primary);
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}