.home {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 100px 200px 100px 300px;
  width: 100vw;
  flex: 1;

  @media (max-width: 425px) {
    padding: 50px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
}

h1 {
  font-size: 70px;
  margin: 0;

  @media (max-width: 425px) {
    font-size: 50px;
  }
}

h2 {
  font-size: 70px;
  margin: 0;
  opacity: 0.6;

  @media (max-width: 425px) {
    font-size: 50px;
  }
}

.greet {
  word-spacing: 3px;
}

.description {
  display: flex;
  align-items: center;
  opacity: 0.6;
  min-height: 105px;
}

.highlighted {
  font-weight: 500;
  color: var(--primary)
}

.home-button {
  margin-top: 30px;
  padding: 20px 40px;
  background-color: transparent;
  border: solid 1px var(--primary);
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px var(--primary);
  }
}

.typewriter-container {
  @media (max-width: 425px) {
    height: 225px;
  }

  @media (max-width: 375px) {
    height: 300px;
  }
}

.typewriter {
  padding-left: 5px;
  border-right: 7px var(--primary) solid;
  color: var(--primary);
  animation: typewriting step-end infinite 1s;
  opacity: 1;
}

@keyframes typewriting {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--primary);
  }
}