.projects {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 100px;
  width: 100%;
  gap: 50px;

  @media (max-width: 1024px) {
    padding: 100px 50px;
  }

  @media (max-width: 500px) {
    padding: 50px 20px;
  }
}

.project-container {
  width: 400px;
  text-align: center;
  height: 50px;
  border-radius: 5px;
  transition: 1s;
}

.project-container h1 {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--primary);
  cursor: pointer;
  font-size: 30px;
}

.revealed {
  width: 80%;
  height: auto;
  transition: 1s;
  box-shadow: 0px 0px 10px 3px var(--primary);

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.project-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 50px;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  @media (max-width: 500px) {
    padding: 10px 20px;
  }
}

.project-left-section,
.project-right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1%;

  @media (max-width: 768px) {
    animation: forwards project-revealing2 3s;
  }

  @media (min-width: 769px) {
    animation: forwards project-revealing 3s;
  }
}

.project-description {
  text-align: justify;

  @media (max-width: 1024px) {
    font-size: smaller;
  }
}

.project-right-section {
  flex-direction: column;
  gap: 20px;
}

.project-image {
  width: 100%;
  border-radius: 20px;
}

.project-button {
  margin-top: 30px;
  padding: 20px 40px;
  background-color: transparent;
  border: solid 1px var(--primary);
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  transition: 0.2s;
  color: var(--primary);
  font-weight: 500;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px var(--primary);
  }
}

@keyframes project-revealing {

  0%,
  50% {
    opacity: 0;
    width: 45%;
  }

  100% {
    opacity: 1;
    width: 45%;
  }
}

@keyframes project-revealing2 {

  0%,
  50% {
    opacity: 0;
    width: 100%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}