.projects {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 100px;
  width: 100%;
  gap: 50px;
}

.project-container {
  width: 80%;
  text-align: center;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  transition: 1s;
}

.project-container h1 {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--primary);
  cursor: pointer;
  font-size: 30px;
}

.revealed {
  width: 80%;
  height: auto;
  transition: 1s;
  box-shadow: 0px 0px 10px 3px var(--primary);
}

.project-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 50px;
}

.project-left-section,
.project-right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1%;
  animation: forwards project-revealing 3s;
}

.project-description {
  text-align: justify;
}

.project-right-section {
  flex-direction: column;
  gap: 20px;
}

.project-image {
  width: 100%;
  border-radius: 20px;
}

.project-button {
  margin-top: 30px;
  padding: 20px 40px;
  background-color: transparent;
  border: solid 1px var(--primary);
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  transition: 0.2s;
  color: var(--primary);
  font-weight: 500;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px var(--primary);
  }
}

@keyframes project-revealing {

  0%,
  50% {
    opacity: 0;
    width: 45%;
  }

  100% {
    opacity: 1;
    width: 45%;
  }
}